
.Loginform{
    /* display: none; */
    width: 100%;
    /* height: ; */
    display: flex;
    flex-direction: column;
    line-height: 3px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.Loginform input{
    margin: 3% 0px;
    width: 55%;
    border: none;
    height: 35px;
    border-radius: 10px;
    border-bottom: 2px solid #426259;
    outline: none;

    background-color: #f8ffff;
}

.Loginform input::placeholder{
    color: #426259;
}

#loginbtn{
        /* display: none; */
        
        margin-left: 40%;
        border: none;
        background-color: #426259;
        border-radius: 5px;
        width: 80px;
        height: 33px;
        color: #E5F4F9;
        margin-bottom: 3%;
    }
    #link{
        text-decoration: none;
        color: #E5F4F9;
        font-weight: bold;
    }
.form{
    /* border: 2px solid black; */

}
